[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
numpy = "*"
tensorflow = "*"
tensorflow-datasets = "*"
pandas = "*"
sklearn = "*"
pyarrow = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
